.chart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .graph-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .no-chart-error {
        width: 200px;
        padding: 40px 0 40px 40px;
        .text-padding {
            padding-left: 4px;
        }
    }

    .badge-container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: flex-start;
        min-width: 200px;
    }
}