.capview-container {
    width: 100%;
    max-width: 1200px;
    padding: 40px;

    .capview-headline {
        text-align: left;
    }
}

.shareholder-add-btn {
    display: flex;
    margin: 20px 0;
}